*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f7f4;
    color: #333;
}

header {
    background: #d9c3ad;
    color: white;
    padding: 10px 0;
    width: 100%;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
    list-style: none;
}

.navbar a {
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #AD9C8A;
    border-radius: 5px;

}

/* Main Content */
main {
    padding: 20px;
    text-align: center;
}

.logo{
    width: 95px;
    font-size: 2em;
}

.headr{
    background-color: #ddc1a7;
    height: 44px;
}
#about {
    padding: 40px;
    background: #fff;
}

.profile{
    width: 15vw;
    height: 200px;
    border-radius: 10%;
    margin-top: 20px;
    display: inline-flex;
}

.profile:hover {

}

#abt, #profile, #Ach {
    background: #eaeaea;
    padding: 1.5px;
}

h1{
    color: #333;
}

.p{
    color: darkslategrey;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

/* Footer */
footer {
    background: #d9c3ad;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}